
.bgMess {
    background: url('../img/mess.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pico {
    position:absolute;
    width:200px;
    height:200px;
    z-index:-1;
    background-color:rgb(137, 181, 248,0.6);
    margin:auto;
    transform: rotate(45deg);
    border-radius:10px;
}
.pico1 {
    position:absolute;
    width:200px;
    height:200px;
    z-index:-2;
    background-color:rgb(176, 223, 243,0.6);
    margin:auto;
    transform: rotate(60deg);
    border-radius:10px;
}
.spa {
    margin:0 50% 50% 0;
}
