  
<!-- Custom styles for this template -->
<link href="css/authen.css" rel="stylesheet">

<body class="text-center">
    <div class="form-signin">
        <img class="mb-4" src="../img/icone/Asset.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal">Entrez vos Identifiants</h1>
        <label for="inputEmail" class="sr-only">Adressse Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button id="login2" class="btn btn-lg btn-primary btn-block">Se connecter</button>
    </div>
</body>

<script src="js/authen.js" type="text/javascript"></script>