
<div id="wrapper"> 
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar fixed-top bg-blu" id="sidebar" role="navigation">
        <ul class="list-unstyled text-center">
            <li>
                <a href="/backvdc/Admin/index.php/Home"><img class="img-fluid" src="../img/icone/Asset.png" alt=""></a>

            </li>
            <li class="mb-4">
                <a href="/backvdc/Admin/index.php/Resa">
                    <i class="fas fa-copy"></i>
                    Réservations
                </a>                  
            </li>
            <li class="mb-4">
                <a href="/backvdc/Admin/index.php/Gerer">
                    <i class="fas fa-image"></i>
                    Gérer les Jeux
                </a>
            </li>
            <li class="mb-4">
                <a href="/backvdc/Admin/index.php/Event">
                    <i class="fas fa-align-justify"></i>
                    Evénements
                </a>
            </li>
            <li class="mb-4">
                <a href="/backvdc/Admin/index.php/News">
                    <i class="fas fa-paper-plane"></i>
                    Newsletter
                </a>
            </li>
            <li>
                <a class="mb-4" href="#" id="deco">
                    <i class="fas fa-power-off"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /sidebar -->
    <footer class="bg-dblu p-2">
        <h4 class="mt-2">&copy; Spooky</h4>
    </footer>
        <!--burger-->
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
</div>